.hasChildren{
    padding-left: 20px;
    // border: 1px solid var(--theme-light-border-color);
    width: 100%;
    height: 40px;
    overflow: hidden;
}
.hasChildren .treeRoot{}
.treeRoot{
    padding: 20px;
    padding-left: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.treeRoot__hasKey{
    font-size: 14px;
    color: var(--blue);
    padding-right: 10px;
}