:root{
  --white: #ffffff;
  --balck: #000000;
  --success: rgb(26, 201, 26);
  --error: #ff2500;

  --theme-light-bg-color: #ffffff;
  --theme-light-hover-color: rgba(0,0,0,.1);
  --theme-light-border-color: rgba(0,0,0,.5);
  --theme-light-text-color: rgba(0,0,0,.7);
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}